# yarn
/.yarn/**            linguist-vendored
/.yarn/releases/*    binary
/.yarn/plugins/**/*  binary
/.yarn/sdks/**       linguist-generated
/.pnp.*              binary linguist-generated

# ignore-sync
.gitignore      linguist-generated
